<% if @trip.errors.any? %>
<div id = "error_explanation">
  <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

  <ul>
    <% @trip.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class= "l-box-lrg pure-u-1 pure-u-md-2-5 pure-form">

  <%= form_for @trip do |f| %>
  <%= f.label :date %>:
  <%= f.date_field :date %><br />
  <%= f.label :location %>:
  <%= f.text_field :location %><br />
  <%= f.label :duration %> <label> (in days): </label>
  <%= f.text_field :duration %><br />
  <%= f.label :backpack_size %> <label> (in liters): </label>
  <%= f.text_field :backpack_size %><br />
  <%= f.label :camping_type %> <label> (hike/drive): </label>
  <%= f.text_field :camping_type %><br />
  <%= f.label :weather %>:
  <%= f.text_field :weather %><br />


  <h3> Add New Gear to Backpack</h3>
  <% 3.times.each do %>

  <%= f.fields_for :items, @trip.items.build(user_id:current_user.id) do |a| %>
    <%= a.hidden_field :user_id, value: current_user.id %>
    <label> Name </label> <%= a.text_field :name %><br /><br />
    <label> Weight (in pounds)</label>  <%= a.text_field :item_weight %><br /><br />
    <label> Value (1 to 5) </label> <%= a.text_field :value %><br /><br />
  <% end %>
  <% end %>


  <h3> Add More of Your Created Gear </h3>
  <%= collection_check_boxes :trip, :item_ids, current_user.items, :id, :name %>
<br>
    <%= f.submit "Submit" %>
  </div>
  <% end %>
