

<h2 div class ="content-head"> Location: <span class ="tripLocation"><%= @trip.location %> </span></h2>
<h2 div class ="content-head"> Date: <span class ="tripDate"> <%= @trip.date %> </span></h2>
<h2 div class ="content-head"> Duration: <span class ="tripDuration"> <%= @trip.duration %> </span> days  </h2>
<h2 div class ="content-head"> Backpack Size: <span class ="tripBackpack"> <%= @trip.backpack_size %> </span> liters </h2>
<h2 div class ="content-head"> Camping Type: <span class ="tripType"> <%= @trip.camping_type %> </span> </h2>
<h2 div class ="content-head"> Weather: <span class = "tripWeather"> <%= @trip.weather %> </span> </h2>


<div class ="tripItems">
</div>

<!-- <% @trip.items.each do |item| %>
<ul>
    <li>
      <%= link_to item.name, item_path(item.id)%>
  </li>
</ul>
<% end %> -->



<a href="#" class="js-back" data-id="<%=@trip.id%>">Previous Trip</a> <br>

<a href="#" class="js-next" data-id="<%=@trip.id%>">Next Trip</a>







<div class ="splash-subhead">

  <%= link_to 'Edit Trip', edit_trip_path(@trip) %> <br>
  <%= link_to "Create Another Trip", new_trip_path %> <br>
  <%= link_to "View all Trips", users_path %> <br>
   <%= link_to "Delete", @trip, method: :delete %>
</div>
