
<h2 div class ="content-head"> Location: <%= @trip.location %> </h2>
<h2 div class ="content-head"> Date: <%= @trip.date %> </h2>
<h2 div class ="content-head"> Duration: <%= @trip.duration %> days </h2>
<h2 div class ="content-head"> Backpack Size: <%= @trip.backpack_size %> liters </h2>
<h2 div class ="content-head"> Camping Type: <%= @trip.camping_type %> </h2>
<h2 div class ="content-head"> Weather: <%= @trip.weather %>  </h2>



<h2 div class ="content-head"> This is what you have packed.</h2>

<% @trip.items.each do |item| %>
<ul>
    <li>
      <%= link_to item.name, item_path(item.id)%>
  </li>
</ul>
<% end %>

<h2 div class ="content-head"> Your backpack weighs <%= @trip.current_backpack_weight %> pounds. </h2>

<div class ="splash-subhead">

  <%= link_to 'Edit Trip', edit_trip_path(@trip) %> <br>
  <%= link_to "Create Another Trip", new_trip_path %> <br>
  <%= link_to "View all Trips", trips_path %> <br>
   <%= link_to "Delete", @trip, method: :delete %>
</div>
