<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @item do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
  <%= f.label :item_weight %> in pounds:
  <%= f.text_field :item_weight %><br />
  <%= f.label :value %> on a scale of 1-5 (5 being most valuable):
  <%= f.text_field :value  %><br />

<%= f.submit "Submit" %>


<% end %>
