<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class= "pure-form l-box-lrg pure-u-1 pure-u-md-2-5 ">
<%= form_for @item do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
  <%= f.label :item_weight %> <label> (in pounds): </label>
  <%= f.text_field :item_weight %><br />
  <%= f.label :value %> <label> on a scale of 1-5 (5 being most valuable): </label>
  <%= f.text_field :value  %><br />
<%= f.submit "Submit" %>
</div>

<% end %>


<div id="itemResult">
  <h2 id="itemName"></h2>
  <h2 id="itemWeight"></h2>
  <h2 id="itemValue"></h2>
</div>
