
<h2 div class ="content-head"> Your Gear </h2>

<% @items.each do |item| %>
<ul>
<li>
  <%= link_to item.name, item_path(item.id)%>
</li>

</ul>
<% end %>

<div class ="splash-subhead">
<% if @items.too_heavy?.each do |item| %>
<p>Free advice: You might not want to pack these items since they seem too heavy for the value:</p>
<li> <%= item.name %> weighs <%= item.item_weight %> lbs with a value of <%= item.value %> </li>
<% end -%>

<% end -%>

</div>

<br>

<div class ="splash-subhead">
<%= link_to "Create more gear", new_item_path %>
</div>
