<div class = "home-menu pure-menu pure-menu-fixed .pure-menu-selected">

  <% if !user_signed_in? %>
           <%= link_to "Sign up", new_user_registration_path %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
        <% else %>
           <%= link_to "My Trips",  trips_path, class: "all-trips"  %>
           <%= link_to "My Gear", items_path  %>
           <%= link_to "Create Gear", new_item_path %>
           <%= link_to "Create Trip", new_trip_path %>

         <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %>
        <% end %>
    </ul>
  </div>
