
<!DOCTYPE html>
<html>
  <head>
    <title>Backpacker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="assets/stylesheets/ap.css" />


    		<header id="header">
               <%= render partial: 'layouts/navbar' %>
    		</header>

      <%= yield %>
    </body>
</html>
